.header_container {
  height: 110px;
  width: 100vw;
  position: fixed;
  z-index: 100;
  top: 0;
  left: 0;
}

.header_bottom {
  width: 100%;
  height: 45%;
  display: flex;
  align-items: center;
  @apply bg-yellowCustom;
  box-shadow: 0px 2px 0px 0px rgba(249, 201, 1, 1);
  -webkit-box-shadow: 0px 2px 0px 0px rgba(249, 201, 1, 1);
  -moz-box-shadow: 0px 2px 0px 0px rgba(249, 201, 1, 1);
}

.logo_box {
  width: 7rem;
  height: auto;
}

@media screen and (min-width: 640px) {
  .logo_box {
    height: auto;
    width: 7.5rem;
  }
  .header_container {
    height: 120px;
  }
  .header_bottom {
    height: 42%;
  }
  .cart_count {
    left: 2.8rem;
  }
}

@media screen and (min-width: 768px) {
  .logo_box {
    height: auto;
    width: 9rem;
  }
  .header_container {
    height: 132px;
  }
  .header_bottom {
    height: 40%;
  }
  .cart_count {
    left: 2.8rem;
  }
}

@media screen and (min-width: 1024px) {
  .logo_box {
    height: auto;
    width: 9rem;
  }
  .header_container {
    height: 132px;
  }
  .header_bottom {
    height: 44%;
  }
  .cart_count {
    left: 2.8rem;
  }
}

/* .menu_button {
  height: 28px;
  width: 28px;
  font-size: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  background-position: center;
  background-size: contain;
  cursor: pointer;
} */

/* .shopping_cart {
  height: 33px;
  width: 30px;

  cursor: pointer;
} */

.search_icon {
  height: 25px;
  width: 25px;
  background-image: url("../../Assets/search\ icon.png");
  background-position: center;
  background-size: cover;
  cursor: pointer;
}

/* @media screen and (min-width: 778px) {
  .cart_count {
    left: 1rem;
  }
} */

.cart_count {
  height: 1.5rem;
  width: 1.5rem;
  @apply bg-honey text-white border-black;
  position: absolute;
  font-size: 12px;
  left: 1rem;
  top: -0.75rem;
  border: 1px solid;
  border-radius: 50%;

  display: flex;
  align-items: center;
  justify-content: center;
}

.fav_count {
  height: 1.5rem;
  width: 1.5rem;
  @apply bg-honey text-white border-black;
  position: absolute;
  font-size: 12px;
  left: 1rem;
  top: -0.75rem;
  border: 1px solid;
  border-radius: 50%;

  display: flex;
  align-items: center;
  justify-content: center;
}

.search_bar {
  position: relative;
  width: 100%;
  display: flex;
  /* justify-content: center; */
  align-items: center;
  @apply bg-white;
}

/* @media screen and (min-width: 778px) {
  .search_bar {
    max-width: 40%;
  }
} */

.item_form:focus-within {
  border: 1px solid;
  @apply border-secondary;
}
