.filter_container {
  width: 60%;
  height: 100vh;
  position: absolute;
  left: 0px;
  top: 0;
  letter-spacing: 1px;
  line-height: 2;
  @apply bg-primary;
  @apply text-secondary;

  z-index: 1000;
  transform: translateX(-150%);
  transition: transform 0.3s ease-in-out;
  overflow-x: hidden;
  -webkit-transform: translateX(-150%);
  -moz-transform: translateX(-150%);
  -ms-transform: translateX(-150%);
  -o-transform: translateX(-150%);
  -webkit-transition: transform 0.3s ease-in-out;
  -moz-transition: transform 0.3s ease-in-out;
  -ms-transition: transform 0.3s ease-in-out;
  -o-transition: transform 0.3s ease-in-out;
}

@media screen and (min-width: 778px) {
  .filter_container {
    width: 25%;
    height: 80vh;
    left: 0;
    top: 0;
  }
}

.filter_container_show {
  transform: translateX(0);
  -webkit-transform: translateX(0);
  -moz-transform: translateX(0);
  -ms-transform: translateX(0);
  -o-transform: translateX(0);
}

.shortBy_container {
  width: 60%;
  height: 100vh;
  position: absolute;
  right: 0px;
  top: 0px;
  letter-spacing: 1px;
  line-height: 2;
  @apply bg-primary;
  @apply text-secondary;
  border-left: 1px solid #638c28;
  border-top: 1px solid;
  z-index: 1000;
  transform: translateX(-100%);
  transition: transform 0.3s ease-in-out;
  overflow-x: hidden;
  -webkit-transform: translateX(100%);
  -moz-transform: translateX(-100%);
  -ms-transform: translateX(-100%);
  -o-transform: translateX(-100%);
  -webkit-transition: transform 0.3s ease-in-out;
  -moz-transition: transform 0.3s ease-in-out;
  -ms-transition: transform 0.3s ease-in-out;
  -o-transition: transform 0.3s ease-in-out;
}
.shortBy_container_show {
  right: 4px;
  transform: translateX(0);
  -webkit-transform: translateX(0);
  -moz-transform: translateX(0);
  -ms-transform: translateX(0);
  -o-transform: translateX(0);
}
