.offer_container {
  width: 40px;
  height: 40px;
  @apply text-sm;
  @apply bg-primary-red;
  border: 0.5px solid;

  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  @apply text-primary;
}
@media screen and (min-width: 778px) {
  .offer_container {
    width: 40px;
    height: 40px;
    @apply text-xl;
  }
}
