.offer_container {
  width: 45px;
  height: 45px;
  @apply text-sm;
  @apply bg-primary-red;
  border: 0.5px solid;
  z-index: 1000;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  @apply text-primary;
}
@media screen and (min-width: 778px) {
  .offer_container {
    width: 60px;
    height: 60px;
    @apply text-xl;
  }
}
